<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Información del estudiante :  {{student.nombre}}</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Rol</th>
            <th>Curso</th>
        </tr>
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.nombre }}</td>
            <td>{{ student.apellido }}</td>
            <td>{{ student.edad }}</td>
            <td>{{ student.rol }}</td>
            <td>{{ student.curs }}</td>
        </tr>
    </table>
<div class="enlaces">
    <a href="{% url 'students' %}">Estudiantes</a>
    <a href="{% url 'teachers' %}">Profesores</a>
</div>    
 
</body>
</html>